@media (max-width: 1271px) {
  .container {
    padding: 0px 0px !important;
  }
  .header__top {
    flex-wrap: wrap;
    padding: 5px 0px !important;
  }
  .header__top .header__application a {
    padding-top: 5px !important;
  }

  .header__application-email:before{
    top:5px !important;
  }
  .header__application{
    display: none;
  }
 .header__application_mobile{
   display: flex!important;
 }
 .header__phone-project{
   padding-right: 20px!important;
   padding-left: 25px!important;
 }
 .header__phone-diler{
   padding-left: 20px!important;
 }
 .basket{
   margin-right: 8px;
 }
 .menu ul{
  display:none;
 position:absolute;
  left:0;
  right:0;
  margin-top:25px;
  max-width: 320px;
  z-index:50;
  padding-left: 15px;
}

.menu li{
  display:block;
  /*text-align:center; */
  height: 30px;
}

.menu a {
  display:block;
 

}



.header__btn-menu {
  display: block!important;
  font-size: 28px;
  
  }
  .menu {
    float: left;
    padding-left: 15px;
  }
  .header__search{
    padding: 15px 0px 0px 25px!important;
  }

  .header__search--btn{
    margin-left: 0px!important;
    margin-right: 10px!important;
  }

}

@media (max-width: 700px){
  .header__application-email{
    display: none;
  }
 .header__phone{
   display: none;
 }
}

@media (max-width: 450px){
  .header__logo{
    max-width: 140px;
  }
  .header__search a {
    display: none;
  }
}